@font-face {
    src: url('font/GothamRoundedMedium.woff');
    font-family: gothamMedium;
}

@font-face {
    src: url('font/GothamRoundedBold.woff');
    font-family: gothamBold;
}

@font-face {
    src: url('font/GothamRoundedBold.woff');
    font-family: gothamBook;
}

body {
    font-family: gothamBold;
    background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: gothamBold;
    letter-spacing: 4px;
    text-transform: uppercase;
}

p,
a,
span {
    font-family: gothamMedium;
    letter-spacing: 3px;
}




.width-wrapper {
    max-width: 1280px;
    margin: auto;
}

.container {
    max-width: 1025px;
}

.btn-green {
    background: #16a085;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 15px 30px;
    border-radius: 3px;
}

.btn-green:hover {
    background: #168d76;
    color: #fff;
}

/** Header **/

header {
    background: url(images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-left .nav-link,
.nav-right .nav-link {
    color: #fff;
    padding-top: 25px;
    padding-right: 35px;
    padding-left: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.top-navigation {
    padding-top: 40px;
}

.hero-content {
    padding: 240px 0;
}

.hero-content .title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: gothamBold;
}

.hero-content .subtitle {
    font-size: 15px;
    letter-spacing: 3px;
    padding-bottom: 5px;
}

.social-nav .nav-item .nav-link {
    padding: 0 10px 20px 10px;
    font-size: 18px;
    color: #fff;
}

.info {
    background: #f5f6f7;
    padding-top: 100px;
}

.info img {
    margin-left: -150px;
}

.info .heading {
    margin-top: 10px;
    max-width: 400px;
}

.subinfo {
    font-size: 12px;
    font-family: gothamMedium;
    line-height: 22px;
    margin: 40px 0;
}

.heading {
    font-size: 18px;
}

.heading-green {
    color: #0eb280;
}


.about {
    background: #fff;
    padding-top: 130px;
}

.arrow {
    margin-left: 20px;
}

.arrow-info {
    font-size: 12px;
    font-family: gothamBold;
    margin-bottom: 2px;
}

.arrow-icon a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.gallery {
    background: #f5f6f7;
    padding: 80px 0 100px 0;
}

.gallery .slider {
    width: 100%;
}

.gallery .hover-info {
    padding-top: 40px;
}

.hover-title {
    font-family: gothamBold;
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.hover-subtitle {
    font-size: 9px;
    max-width: 200px;
    margin: auto;
}











/** responsive **/

@media (max-width: 767px) {
    .nav-lest .float-right {
        float: none !important;
    }

    .nav-left,
    .nav-right {
        display: flex;
        justify-content: center;
    }

    .col-md-2 {
        order: -1;
    }

    .info img {
        margin-left: 0;
        width: 100%;
    }
    .about {
        padding-bottom: 50px;
        
    }
    .about img {
        max-width: 200px;
        margin: auto;
        display: block;
    }
    
    .gallery .slider {
        width: 100%;
        margin-top: 20px;
    }
}


@media (min-width: 992px) {
    .info {
        max-height: 490px;
        overflow: hidden;
    }
    
    .about {
        max-height: 550px;
        overflow: hidden;
    }

}
